.SimpleForm {
    form {
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 400px;
            height: 150px;
        }
    }
}
